<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="utf-8"/>
    <title>マサオロボ品質管理</title>
    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
  	<div class="container">
    <h1 class="my-2">マサオロボ管理チェックリスト</h1>
    <form th:action="@{/saveCheckBox}" name="checklist">
    <div class="form-group">
    	<label class="control-label">商品ID</label>
        <input class="form-control" type="text" name="id"/>
        <input type="submit" value="決定"/>
    </div>
    <table class="table">
    	<thead>
    	<tr>
			<th>番号</th>
			<th>項目</th>
			<th>チェック</th>
		</tr>
    	</thead>
    	<tbody id=tableTbody>
		<tr th:each="che : ${message}" th:object="${che}">
			<td class="center" th:text="*{id}"></td>
			<td th:text="*{point}"></td>
			<label>
			<td><input type="hidden" th:text="*{result}" name="_result" value="0">
			<input type="checkbox" th:text="*{result}" name="result" value="1">
			<span id="check"></span></td>
			</label>
		</tr>
    	</tbody>
	</table>
	</form>
	<input type="submit" name="regist" value="登録" onclick="clickBtn()"/>
	
	<script>
	function clickBtn()　{　　　　　// チェックボックスの値取得
	var input_result = document.querySelector("input[name=result]");
	var hidden_result = document.querySelector("input[name=_result]");
	
	if (input_result.checked) {
      	document.getElementById("check").textContent = input_result.value;
    } else {
      	document.getElementById("check").textContent = hidden_result.value;
	}
	
	}
	
	</script>
   
	</div>
  </body>
</html>